{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Posts List</h1>
            </div>
            <div class="col-md-4">
                <a href="/post/create/"><button>Create Post</button></a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>User</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in page_objs %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                    <td>{{ post.user.username }}</td>
                    <td><a href="/post/edit/{{post.id}}"><i class="fa fa-pencil" style="font-size:20px"></i></a><a href="/post/delete/{{post.id}}"><i class="material-icons">delete</i></a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No posts available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_objs.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_objs.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_objs.number }} of {{ page_objs.paginator.num_pages }}.
                </span>

                {% if page_objs.has_next %}
                    <a href="?page={{ page_objs.next_page_number }}">next</a>
                    <a href="?page={{ page_objs.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>
{% endblock %}