{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="signup-container">
        <h1>Sign Up</h1>
        <p class="error-class">
        {% if error %}
            {{error}}
        {% endif %}
        </p>
        
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" value="{% if username %}{{username}}{% endif %}" maxlength="20" required>
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" value="{% if email %}{{email}}{% endif %}" maxlength="30" required>
            </div>
            <div class="input-group">
                <label for="password1">Password:</label>
                <input type="password" name="password1" id="password1" maxlength="10" required>
            </div>
            <div class="input-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" name="password2" id="password2" maxlength="10" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login_view' %}">Log in here</a>.</p>
    </div>
</body>
</html>
